<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="f" xsi:type="File"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"
            fileName="${basedir}/logs/log.txt"
            archiveFileName="${basedir}/logs/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true" />
    <target xsi:type="Mail"
            name="m" html="true" subject="${uppercase:${level}}: NLog OSM Shipping"
            from="alerts@profilepro.com" to="admin@profilepro.com"
            smtpServer="smtp.postmarkapp.com" smtpPort="2525"
            smtpUserName="42c66fcb-cb04-4f93-b875-13dfd46d786f"
            smtpPassword="42c66fcb-cb04-4f93-b875-13dfd46d786f"
            smtpAuthentication="Basic"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Error" writeTo="m" />
  </rules>

</nlog>